---
export interface Props {
  name: string;
  stars: string;
  reviews: string;
  downloads: string;
  playstore: string;
  appstore: string;
  github: string;
  description: string;
  technologies: string[];
  imageUrl: string;
}

const {
  name,
  stars,
  reviews,
  downloads,
  playstore,
  appstore,
  github,
  description,
  technologies,
  imageUrl,
} = Astro.props;
---

<h2 class="text-white text font-bold tracking-wide">{name}</h2>

<!-- Reviews -->

{
  (
    <div class="flex auto-cols-auto items-center text-xs pt-2">
      {stars !== null && (
        <div class="grid grid-rows-2 pr-4">
          <div class="flex justify-center items-center">
            <p class="flex justify-center pr-1 text-neutral-300">{stars}</p>
            <img src="/star.svg" width="14" height="14" />
          </div>
          {reviews !== null && <p class="text-slate-400">{reviews}</p>}
        </div>
      )}

      {stars !== null && downloads !== null && (
        <div class="w-px h-6 bg-zinc-400" />
      )}

      {downloads !== null && (
        <div class="grid grid-rows-2 pl-4">
          <p class="flex justify-center text-neutral-300">{downloads}</p>
          <p class="text-slate-400">Downloads</p>
        </div>
      )}
    </div>
  )
}

<!-- Buttons ref -->
<div class="flex gap-3 py-3">
  {
    playstore != null && (
      <a href={playstore} target="”_blank”">
        <div class="text-sky-600 border-[1px] rounded text-[10px] px-3 py-1 border-sky-600 hover:text-white hover:bg-sky-600 transition-colors flex fill-sky-600 hover:fill-white">
          <svg
            width="16"
            height="16"
            viewBox="0 0 512 512"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M48 59.49V452.49C48.0026 453.343 48.2569 454.176 48.731 454.884C49.2051 455.593 49.8779 456.146 50.665 456.474C51.4521 456.802 52.3184 456.89 53.1554 456.727C53.9924 456.565 54.7628 456.159 55.37 455.56L260 256L55.37 56.42C54.7628 55.8214 53.9924 55.4153 53.1554 55.2528C52.3184 55.0902 51.4521 55.1784 50.665 55.5063C49.8779 55.8342 49.2051 56.3871 48.731 57.0958C48.2569 57.8045 48.0026 58.6374 48 59.49ZM345.8 174L89.22 32.64L89.06 32.55C84.64 30.15 80.44 36.13 84.06 39.61L285.19 231.93L345.8 174ZM84.08 472.39C80.44 475.87 84.64 481.85 89.08 479.45L89.24 479.36L345.8 338L285.19 280.05L84.08 472.39ZM449.38 231L377.73 191.54L310.36 256L377.73 320.43L449.38 281C468.87 270.23 468.87 241.77 449.38 231Z" />
          </svg>
          <p class="px-2">Playstore</p>
        </div>
      </a>
    )
  }

  {
    appstore != null && (
      <a href={appstore} target="”_blank”">
        <div class="text-sky-600 border-[1px] rounded text-[10px] px-3 py-1 border-sky-600 hover:text-white hover:bg-sky-600 transition-colors flex fill-sky-600 hover:fill-white">
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_175_24)">
              <path d="M8.80902 14.92L14.919 3.88299C15.003 3.73099 15.087 3.58099 15.163 3.42399C15.232 3.28199 15.29 3.13899 15.328 2.98399C15.408 2.65799 15.386 2.31799 15.262 2.00699C15.1409 1.70102 14.9232 1.44294 14.642 1.27199C14.3657 1.1044 14.0404 1.0363 13.72 1.07899C13.4 1.12199 13.107 1.27299 12.876 1.50899C12.766 1.61899 12.676 1.74399 12.593 1.87699C12.501 2.02299 12.418 2.17499 12.334 2.32699L11.948 3.02399L11.561 2.32599C11.477 2.17499 11.394 2.02299 11.302 1.87699C11.2212 1.7442 11.1263 1.62049 11.019 1.50799C10.7937 1.27452 10.4965 1.12346 10.175 1.07899C9.855 1.03662 9.5301 1.1047 9.25402 1.27199C8.97288 1.443 8.7552 1.70105 8.63402 2.00699C8.50952 2.31755 8.48642 2.65952 8.56802 2.98399C8.60602 3.13899 8.66402 3.28199 8.73202 3.42399C8.80802 3.58099 8.89202 3.73099 8.97602 3.88299L10.224 6.13699L5.36202 14.919H2.02902C1.86202 14.919 1.69402 14.919 1.52702 14.929C1.37502 14.938 1.22702 14.957 1.07902 15C0.769021 15.09 0.497021 15.28 0.301021 15.548C0.10522 15.8178 -0.000308456 16.1425 -0.000488052 16.4758C-0.000667648 16.8092 0.104511 17.134 0.300021 17.404C0.497021 17.672 0.768021 17.861 1.07902 17.952C1.22702 17.995 1.37502 18.014 1.52702 18.023C1.69402 18.033 1.86202 18.033 2.03002 18.033H15.127C15.167 17.9456 15.2005 17.8554 15.227 17.763C15.642 16.347 14.611 14.919 13.192 14.919L8.80902 14.92ZM3.11302 18.542L2.32102 20.042C2.23902 20.198 2.15602 20.352 2.08202 20.513C2.01348 20.6578 1.95987 20.8093 1.92202 20.965C1.84178 21.2981 1.86409 21.6478 1.98602 21.968C2.10702 22.286 2.32002 22.551 2.59302 22.723C2.86502 22.895 3.18202 22.965 3.49402 22.92C3.80802 22.876 4.09402 22.722 4.32002 22.48C4.42802 22.365 4.51602 22.238 4.59802 22.102C4.68802 21.952 4.76902 21.796 4.85102 21.64L6.00002 19.464C5.91002 19.314 5.05302 17.994 3.11302 18.542ZM23.699 15.536C23.5061 15.2749 23.2322 15.085 22.92 14.996C22.7738 14.9557 22.6235 14.9319 22.472 14.925C22.304 14.915 22.137 14.915 21.969 14.915H18.648L14.258 7.09999C13.682 7.7047 13.3063 8.47218 13.182 9.29799C13.0213 10.3309 13.2136 11.3879 13.728 12.298L19.002 21.691C19.086 21.841 19.169 21.991 19.261 22.135C19.345 22.265 19.435 22.388 19.544 22.499C19.775 22.731 20.068 22.879 20.389 22.922C20.709 22.964 21.032 22.898 21.311 22.732C21.5916 22.5641 21.8097 22.3092 21.932 22.006C22.057 21.699 22.078 21.364 21.998 21.042C21.9587 20.8918 21.9034 20.7464 21.833 20.608C21.758 20.453 21.673 20.305 21.589 20.155L20.373 17.989H21.969C22.137 17.989 22.304 17.989 22.472 17.98C22.624 17.971 22.772 17.952 22.92 17.91C23.2327 17.8209 23.507 17.6306 23.7 17.369C23.8955 17.1037 24.0007 16.7826 24 16.453C24.0007 16.1234 23.8955 15.8023 23.7 15.537L23.699 15.536Z" />
            </g>
            <defs>
              <clipPath id="clip0_175_24">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>

          <p class="px-2">AppStore</p>
        </div>
      </a>
    )
  }

  {
    github != null && (
      <a href={github} target="”_blank”">
        <div class="text-sky-600 border-[1px] rounded text-[10px] px-3 py-1 border-sky-600 hover:text-white hover:bg-sky-600 transition-colors flex fill-sky-600 hover:fill-white">
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_175_20)">
              <path d="M7.02423 2.31C7.77519 2.56439 8.4896 2.91605 9.14923 3.356C10.0808 3.11791 11.0387 2.9983 12.0002 3C12.9932 3 13.9512 3.124 14.8492 3.355C15.5086 2.91548 16.2227 2.56416 16.9732 2.31C17.6702 2.073 18.6632 1.689 19.2532 2.342C19.6532 2.786 19.7532 3.53 19.8242 4.098C19.9042 4.732 19.9232 5.558 19.7132 6.378C20.5162 7.415 21.0002 8.652 21.0002 10C21.0002 12.042 19.8942 13.815 18.2572 15.043C17.4694 15.6265 16.5956 16.084 15.6672 16.399C15.8812 16.889 16.0002 17.431 16.0002 18V21C16.0002 21.2652 15.8949 21.5196 15.7073 21.7071C15.5198 21.8946 15.2654 22 15.0002 22H9.00023C8.73501 22 8.48066 21.8946 8.29312 21.7071C8.10559 21.5196 8.00023 21.2652 8.00023 21V20.009C7.04523 20.126 6.24423 20.022 5.56323 19.733C4.85123 19.431 4.35523 18.963 3.98223 18.515C3.62823 18.091 3.24223 17.135 2.68423 16.949C2.5596 16.9075 2.44437 16.8419 2.34512 16.7558C2.24586 16.6698 2.16452 16.5651 2.10574 16.4476C1.98703 16.2104 1.96742 15.9357 2.05123 15.684C2.13504 15.4323 2.3154 15.2242 2.55263 15.1055C2.78986 14.9868 3.06454 14.9672 3.31623 15.051C3.98223 15.273 4.41623 15.753 4.71323 16.139C5.19323 16.759 5.58323 17.569 6.34323 17.892C6.65623 18.025 7.11523 18.112 7.83323 18.014L8.00023 17.98C8.00214 17.4358 8.11547 16.8977 8.33323 16.399C7.40482 16.084 6.53104 15.6265 5.74323 15.043C4.10623 13.815 3.00023 12.043 3.00023 10C3.00023 8.654 3.48323 7.418 4.28423 6.382C4.07423 5.562 4.09223 4.734 4.17223 4.099L4.17723 4.061C4.25023 3.479 4.33523 2.794 4.74323 2.342C5.33323 1.689 6.32723 2.074 7.02323 2.311L7.02423 2.31Z" />
            </g>
            <defs>
              <clipPath id="clip0_175_20">
                <rect width="24" height="24" fill="white" />
              </clipPath>
            </defs>
          </svg>
          <p class="px-2">Github</p>
        </div>
      </a>
    )
  }
</div>

<!-- Overview -->
<p class="text-neutral-400 text-sm pt-3">
  {description}
</p>

<div class="flex flex-col">
  <div class="py-6 grid grid-cols-6 gap-x-2 gap-y-2">
    {
      technologies.map((technology) => (
        <div class="bg-sky-500 bg-opacity-20 rounded-3xl text-zinc-400 flex justify-center w-16 text-[9px] h-5 items-center">
          <p>{technology}</p>
        </div>
      ))
    }
  </div>
  <div class="self-center"><img src={imageUrl} class="h-80" /></div>
</div>
