---
import experienceData from "../data/experience.json";
import Company from "./Company.astro";
interface Company {
  id: number;
  name: string;
  date: string;
  url: string;
  position: string;
  description: string;
  technologies: string[];
  current: boolean;
}
const data: Company[] = experienceData.map((company, index) => ({
  ...company,
  id: index,
}));
---

{
  data.map((company) => (
    <div class="grid grid-cols-2 -translate-x-2 py-10">
      <Company
        name={company.name}
        position={company.position}
        url={company.url}
        date={company.date}
        description={company.description}
        technologies={company.technologies}
        current={company.current}
      />
    </div>
  ))
}
